*{
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color: rgb(94, 107, 255);
}

#userTable{
    width: 100%;
}

#userTable, tr, th, td{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(123, 148, 252);
    border-collapse: collapse;
    margin: auto;
}

form{
    text-align: center;
}

#btns{
    padding-top: 20px;
    text-align: center;
}

.btnAcciones{
    font-size: 1.5vw;
}